body{
    margin: 0;
    padding:0;
    background-image: url("../images/background.jpg");
    font-family:"Lucida Grande", Helvetica, Arial, sans-serif;

}
.info{
    position: absolute;
    top:60px;
    left:600px;
    height:100px;
    width:200px;
    background-color: black;
    z-index: 1000;
    display: none;
}
.info>div:nth-child(1){
    text-align: center;
    font-size:26px;
    color:white;
}
.info>div:nth-child(2){
    position: absolute;
    bottom: 0;
    left:45px;
}

.title{
    float:left;
    width:100%;
    height:60px;
    font-size:30px;
    line-height: 60px;
    background-color: black;
    color:white;
}
.welcome{
    float:right;
    width:30%;
    height:60px;
    font-size:24px;
    line-height: 60px;
    background-color: black;
    color:white;

}
div.welcome>div{
    float:left;
}
div.welcome>a{
    width:30%;
    float:right;
}

.containers{
    position: absolute;
    left:0;
    top:60px;
    background-color: black;
    width:200px;
}
.item{
    color:white;
    width:200px;
    height:50px;
    background-color: black;
    line-height: 50px;
    font-size:20px;
    text-align: right;
    border:0;
}
.content{
    text-align: center;
    color:white;
    position: absolute;
    left:100px;
    top:60px;
    width:75%;
    height:auto;
    font-size:20px;
    display:none;
}
tr.course{
    width:600px;
    height:30px;
    background-color: #b3b3b3;
    text-align: center;
    line-height: 30px;
    color:black;
    box-shadow: 3px 3px 10px #fff;
    font-size:20px;
}
tr.course>td{
    width:200px;
}

