<!DOCTYPE html>
<html lang="en" ng-app="software">
<head>
    <meta charset="UTF-8">
    <title>software</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/jquery-1.11.3.js"></script>
    <script src="./js/angular.js"></script>
    <script src="./js/index.js"></script>

</head>

<body>

<!--title-->
<div class="title">software</div>

<!--student-->
<div class="containers" id="student">
    <input type="button" class="item" id="iViewReport" value="View Report"/>
    <input type="button" class="item" id="iUpdateSchedule" value="Update a Schedule"/>
    <input type="button" class="item" id="iDeleteSchedule" value="Delete a Schedule"/>
    <input type="button" class="item" id="iSelectOfferings" value="Select Offerings"/>
</div>


<!--teacher-->
<div class="containers" id="teacher">
    <input type="button" class="item" id="iUpdateGrades" value="Update Grades"/>
    <input type="button" class="item" id="iSelectCourses" value="Select courses"/>
</div>

<!--registration-->
<div class="containers" id="registrar">
    <input type="button" class="item" id="iAddProfessor" value="Add Professor"/>
    <input type="button" class="item" id="iUpdateProfessor" value="Update Professor"/>
    <input type="button" class="item" id="iDeleteProfessor" value="Delete Professor"/>
    <input type="button" class="item" id="iAddStudent" value="Add Student"/>
    <input type="button" class="item" id="iUpdateStudent" value="Update Student"/>
    <input type="button" class="item" id="iDeleteStudent" value="Delete Student"/>
</div>


<div class="content" id="addProfessor" ng-controller="addProfessor">
    <br><br><br>
    <h2>Add Professor</h2>
    <br><br><br>
    <form ng-submit="submit()">
        <input type="text" placeholder="name" ng-model="name" class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        birthday:<input type="date" placeholder="birthday" ng-model="birthday" class="input-large" required>
        <br><br><br>
        <input type="text" placeholder="SSN" ng-model="SSN" class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="status" ng-model="status" class="input-large" required>
        <br><br><br>
        <input type="text" placeholder="department" ng-model="department" class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn  btn-success" value="submit">
    </form>
</div>

<div class="content" id="updateProfessor" ng-controller="updateProfessor">
    <br><br><br>
    <h2>Update Professor</h2>
    <br>
    <select ng-change="selectProfessor(professorId)" ng-model="professorId"
            ng-options="professor.id as professor.name for professor in professors"></select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
    <input type="button" class="btn btn-info" ng-click="getProfessors()" value="getProfessors">
    <br><br><br>

    <form ng-submit="submit()">
        <input type="text" placeholder="name" ng-bind="name" ng-model="name" class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        birthday:<input type="date" placeholder="birthday" ng-bind="birthday" ng-model="birthday" class="input-large"
                        required>
        <br><br><br>
        <input type="number" placeholder="SSN" ng-bind="SSN" ng-model="SSN" class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder=status" ng-bind="status" ng-model="status" class="input-large" required>
        <br><br><br>
        graduation date:<input type="date" placeholder="department" ng-bind="department" ng-model="department"
                               class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="btn  btn-success" value="update">
    </form>
</div>


<div class="content" id="deleteProfessor" ng-controller="deleteProfessor">
    <br><br><br>
    <h2>Delete Professor</h2>
    <br>
    <select ng-change="selectProfessor(professorId)" ng-model="professorId"
            ng-options="professor.id as professor.name for professor in professors"></select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
    <input type="button" class="btn btn-info" ng-click="getProfessors()" value="getProfessors">
    <br><br><br>

    <form ng-submit="submit()">
        <input type="text" placeholder="name" ng-bind="name" ng-model="name" class="input-large" required disabled>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        birthday:<input type="date" placeholder="birthday" ng-bind="birthday" ng-model="birthday" class="input-large"
                        required disabled>
        <br><br><br>
        <input type="number" placeholder="SSN" ng-bind="SSN" ng-model="SSN" class="input-large" required disabled>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="status" ng-bind="status" ng-model="status" class="input-large" required
               disabled>
        <br><br><br>
        graduation date:<input type="date" placeholder="status" ng-bind="status" ng-model="status" class="input-large"
                               required disabled>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="btn  btn-success" value="update">
    </form>
</div>

<div class="content" id="addStudent" ng-controller="addStudent">
    <br><br><br>
    <h2>Add Student</h2>
    <br><br><br>
    <form ng-submit="submit()">
        <input ng-model="name" maxlength="20" minlength="5" type="text" placeholder="name" class="input-large" required
               autofocus>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        birthday:<input ng-model="birthday" type="date" placeholder="birthday" class="input-large" required>
        <br><br><br>
        <input ng-model="SSN" type="number" placeholder="SSN" class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input ng-model="status" type="text" placeholder="status" class="input-large" required>
        <br><br><br>
        graduation date:<input ng-model="graduationDate" type="date" placeholder="graduation Date" class="input-large"
                               required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="btn  btn-success" value="submit">
    </form>
</div>


<div class="content" id="updateStudent" ng-controller="updateStudent">
    <br><br><br>
    <h2>Update Student</h2>
    <br>
    <select ng-change="selectStudent(studentId)" ng-model="studentId"
            ng-options="student.id as student.name for student in students"></select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
    <input type="button" class="btn btn-info" ng-click="getStudents()" value="getStudents">
    <br><br><br>

    <form ng-submit="submit()">
        <input type="text" placeholder="name" ng-bind="name" ng-model="name" class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        birthday:<input type="date" placeholder="birthday" ng-bind="birthday" ng-model="birthday" class="input-large"
                        required>
        <br><br><br>
        <input type="number" placeholder="SSN" ng-bind="SSN" ng-model="SSN" class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="status" ng-bind="status" ng-model="status" class="input-large" required>
        <br><br><br>
        graduation date:<input type="date" placeholder="graduationDate" ng-bind="graduationDate"
                               ng-model="graduationDate" class="input-large" required>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="btn  btn-success" value="update">
    </form>
</div>


<div class="content" id="deleteStudent" ng-controller="deleteStudent">
    <br><br><br>
    <h2>Delete Student</h2>
    <br>
    <select ng-change="selectStudent(studentId)" ng-model="studentId"
            ng-options="student.id as student.name for student in students"></select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
    <input type="button" class="btn btn-info" ng-click="getStudents()" value="getStudents">
    <br><br><br>

    <form ng-submit="submit()">
        <input type="text" placeholder
                ="name" ng-bind="name" ng-model="name" class="input-large" required disabled>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        birthday:<input type="date" placeholder
            ="birthday" ng-bind="birthday" ng-model="birthday" class="input-large" required disabled>
        <br><br><br>
        <input type="number" placeholder
                ="SSN" ng-bind="SSN" ng-model="SSN" class="input-large" required disabled>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder
                ="status" ng-bind="status" ng-model="status" class="input-large" required disabled>
        <br><br><br>
        graduation date:<input type="date" placeholder
            ="graduationDate" ng-bind="graduationDate" ng-model="graduationDate" class="input-large"
                               required disabled>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="btn  btn-success" value="update">
    </form>
</div>


<div class="content" id="viewReport" ng-controller="viewReport">
    <br><br><br>
    <h2>view report card</h2>
    <br>
    <input type="button" value="View Report" class="btn btn-success" ng-click="viewReport()">
    <table>
        <tr class="{{course}}" ng-repeat="course in courses">
            <td>{{course.name}}</td>
            <td>{{course.time}}</td>
            <td>{{course.score}}</td>
        </tr>
    </table>
    <br><br><br>
</div>
<div class="content" id="updateSchedule" controller="updateSchedule">
    <br><br><br>
    <h2>Update a Schedule</h2>
    <br>
    <input type="button" class="btn btn-info" value="view Schedule" ng-click="viewSchedule()">
    <input type="button" class="btn btn-success" value="update Schedule" ng-click="updateSchedule()">
    <table>
        <tr ng-repeat="schedule in mySchedule">
            <td>{{schedule.name}}</td>
            <td>{{schedule.time}}</td>
            <td>{{schedule.teacher}}</td>
            <input type="button" class="btn btn-success" value="delete" data-select="false" data-id="schedule.id">
        </tr>
    </table>
    <br><br><br>
    <table>
        <tr ng-repeat="schedule in unselectedSchedule">
            <td>{{schedule.name}}</td>
            <td>{{schedule.time}}</td>
            <td>{{schedule.teacher}}</td>
            <input type="button" class="btn btn-success" value="add" data-select="false" data-id="{{schedule.id}}">
        </tr>
    </table>
</div>
<div class="content" id="deleteSchedule" ng-controller="deleteSchedule">
    <br><br><br>
    <h2>Delete a Schedule</h2>
    <br>
    <input type="button" class="btn btn-info" ng-click="getSchedule()" value="View Schedule">
    <input type="button" class="btn btn-danger" ng-click="deleteSchedule()" value="Delete Schedule">
    <br><br><br>
    <table>
        <tr ng-repeat="schedule in schedules" class="{{course}}">
            <td>{{schedule.name}}</td>
            <td>{{schedule.time}}</td>
            <td>{{schedule.teacher}}</td>
        </tr>
    </table>
</div>
<div class="content" id="selectOfferings" ng-controller="selectOfferings">
    <br><br><br>
    <h2>Select Offerings</h2>
    <br>
    <br><br>
    <input ng-click="getOfferings()" type="button" class="btn btn-success" value="get offerings">
    <input ng-click="selectOfferings()" type="button" class="btn btn-info" value="select Offerings">
    <br>
    <table>
        <tr ng-repeat="course in allCourses">
            <td>{{course.name}}</td>
            <td>{{course.time}}</td>
            <td>{{course.teacher}}</td>
            <input type="button"  value="select" class="btn btn-success" ng-click="chooseCourse()" data-id="{{course.id}}" data-select="false">
        </tr>
    </table>
</div>

<div class="content" id="selectTeach" ng-controller="selectTeach">
    <br><br><br>
    <h2>Select Teach</h2>
    <br>
    <br>
    <input type="button" ng-click="allCourses" class="btn btn-success" value="get Courses">
    <input type="button" ng-click="selectTeach" class="btn btn-info" value="select Teach">
    <br><br>
    <table>
        <tr ng-repeat="course in allCourses">
            <td>{{course.name}}</td>
            <td>{{course.time}}</td>
            <input type="button" class="btn btn-success" value="select" ng-click="chooseCourse" data-id="{{course.id}}" data->
        </tr>
    </table>
</div>
<div class="content" id="submitGrade" ng-controller="submitGrade">
    <br><br><br>
    <h2>Submit Grade</h2>
    <br>
    <input type="button" class="btn btn-success" value="taught courses" ng-click="taughtCourse()">
    <br><br><br>
    <select ng-change="(courseId)" ng-model="courseId"
            ng-options="course.id as course.name for course in taughtCourses"></select>
</div>
<script src="./js/software.js"></script>
</body>
</html>
