<!DOCTYPE html>
<html lang="en" ng-app="software">
<head>
    <meta charset="UTF-8">
    <title>software</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/jquery-1.11.3.js"></script>
    <script src="./js/angular.js"></script>
    <script src="./js/index.js"></script>
</head>
<!--canvas background-->
<body class="large-header" id="large-header">
<canvas id="dynamic"></canvas>

<!--message-->
<div class="foreground">
    <div class="message1"></div>
    <div class="message2"></div>
</div>

<!--info-->
<div class="info">
    <div></div>
    <div>
        <div>
            <a href="#">yes</a>
        </div>
        <div>
            <a href="#">no</a>
        </div>
    </div>
</div>

<!--title-->
<div class="title">Course Selection System
    <div class="welcome">
        <a href="#">log out</a>
        <div></div>
    </div>
</div>

<!--student-->
<div class="containers" id="student">
    <input type="button" class="item" id="iViewReport" value="View Report"/>
    <input type="button" class="item" id="iAddCourse" value="add Course"/>
    <input type="button" class="item" id="iDeleteCourse" value="delete Course"/>
</div>


<!--teacher-->
<div class="containers" id="teacher">
    <input type="button" class="item" id="iSubmitGrade" value="Submit Grade"/>
    <input type="button" class="item" id="iSelectTeach" value="Select Teach"/>
</div>

<!--registration-->
<div class="containers" id="registrar">
    <input type="button" class="item" id="iAddProfessor" value="Add Professor"/>
    <input type="button" class="item" id="iUpdateProfessor" value="Update Professor"/>
    <input type="button" class="item" id="iDeleteProfessor" value="Delete Professor"/>
    <input type="button" class="item" id="iAddStudent" value="Add Student"/>
    <input type="button" class="item" id="iUpdateStudent" value="Update Student"/>
    <input type="button" class="item" id="iDeleteStudent" value="Delete Student"/>
    <input type="button" class="item" id="iEndRegistrar" value="End Registrar">
</div>

<!--addProfessor-->
<div class="content" id="addProfessor" ng-controller="addProfessor">
    <br>
    <h2>Add Professor</h2>
    <br><br><br>
    <form>
        <input type="text" placeholder="name" ng-model="name" class="input-large name-item" required>
        <input type="date" placeholder="birthday" ng-model="birthday" class="input-large birthday-item" required>
        <input type="text" placeholder="SSN" ng-model="SSN" class="input-large SSN-item" required>
        <input type="text" placeholder="status" ng-model="status" class="input-large status-item" required>
        <input type="text" placeholder="department" ng-model="department" class="input-large department-item" required>
        <input ng-click="submit($event)" type="button" class="btn  btn-success button-item" value="add">
    </form>
</div>

<!--updateProfessor-->
<div class="content" id="updateProfessor" ng-controller="updateProfessor">
    <br>
    <h2>Update Professor</h2>
    <br>
    <select class="choice1" ng-change="selectProfessor(professorId)" ng-model="professorId"
            ng-options="professor.id as professor.name for professor in professors">
        <option value=''>--choose--</option>
    </select>
    <input type="button" class="btn btn-info input1" ng-click="getProfessors()" value="Get Professors">
    <br><br><br>

    <form>
        <input type="text" placeholder="name" ng-bind="name" ng-model="name" class="input-large name-item" required>
        <input type="text" placeholder="birthday" ng-bind="birthday" ng-model="birthday"
               class="input-large birthday-item" required>
        <input type="text" placeholder="SSN" ng-bind="SSN" ng-model="SSN" class="input-large SSN-item" required>
        <input type="text" placeholder="status" ng-bind="status" ng-model="status" class="input-large status-item"
               required>
        <input type="text" placeholder="department" ng-bind="department" ng-model="department"
               class="input-large department-item" required>
        <input type="button" ng-click="submit($event)" class="btn  btn-success button-item" value="update">
    </form>
</div>

<!--deleteProfessor-->
<div class="content" id="deleteProfessor" ng-controller="deleteProfessor">
    <br>
    <h2>Delete Professor</h2>
    <br>
    <select class="choice1" ng-change="selectProfessor(professorId)" ng-model="professorId"
            ng-options="professor.id as professor.name for professor in professors">
        <option value=''>--choose--</option>
    </select>
    <input type="button" class="btn btn-info input1" ng-click="getProfessors()" value="Get Professors">
    <br><br><br>

    <form>
        <input type="text" placeholder="name" ng-bind="name" ng-model="name" class="input-large name-item"
               disabled>
        <input type="text" placeholder="birthday" ng-bind="birthday" ng-model="birthday"
               class="input-large birthday-item" disabled>
        <input type="text" placeholder="SSN" ng-bind="SSN" ng-model="SSN" class="input-large SSN-item"
               disabled>
        <input type="text" placeholder="status" ng-bind="status" ng-model="status" class="input-large status-item"
                disabled>
        <input type="text" placeholder="department" ng-bind="department" ng-model="department"
               class="input-large department-item" disabled>
        <input type="button" ng-click="submit($event)" class="btn  btn-success button-item" value="delete">
    </form>
</div>
<!--addStudent-->
<div class="content" id="addStudent" ng-controller="addStudent">
    <br>
    <h2>Add Student</h2>
    <br><br><br>
    <form>
        <input ng-model="name" maxlength="20" minlength="5" type="text" placeholder="name" class="input-large name-item"
               required autofocus>
        <input ng-model="birthday" type="date" placeholder="birthday" class="input-large birthday-item" required>
        <input ng-model="SSN" type="text" placeholder="SSN" class="input-large SSN-item" required>
        <input ng-model="status" type="text" placeholder="status" class="input-large status-item" required>
        <input ng-model="graduationDate" type="date" placeholder="graduation Date" class="input-large department-item"
               required>
        <input type="button" ng-click="submit($event)" class="btn  btn-success button-item" value="add">
    </form>
</div>

<!--updateStudent-->
<div class="content" id="updateStudent" ng-controller="updateStudent">
    <br>
    <h2>Update Student</h2>
    <br>
    <select class="choice1" ng-change="selectStudent(studentId)" ng-model="studentId"
            ng-options="student.id as student.name for student in students">
        <option value=''>--choose--</option>
    </select>
    <input type="button" class="btn btn-info input1" ng-click="getStudents()" value="getStudents">


    <form>
        <input type="text" placeholder="name" ng-bind="name" ng-model="name" class="input-large name-item" required>
        <input type="text" placeholder="birthday" ng-bind="birthday" ng-model="birthday"
               class="input-large birthday-item" required>
        <input type="text" placeholder="SSN" ng-bind="SSN" ng-model="SSN" class="input-large SSN-item" required>
        <input type="text" placeholder="status" ng-bind="status" ng-model="status" class="input-large status-item"
               required>
        <input type="text" placeholder="graduationDate" ng-bind="graduationDate" ng-model="graduationDate"
               class="input-large department-item" required>
        <input type="button" ng-click="submit($event)" class="btn  btn-success button-item" value="update">
    </form>
</div>

<!--deleteStudent-->
<div class="content" id="deleteStudent" ng-controller="deleteStudent">
    <br>
    <h2>Delete Student</h2>
    <br>
    <select class="choice1" ng-change="selectStudent(studentId)" ng-model="studentId"
            ng-options="student.id as student.name for student in students">
        <option value=''>--choose--</option>
    </select>
    <input type="button" class="btn btn-info input1" ng-click="getStudents()" value="getStudents">
    <br><br><br>

    <form>
        <input type="text" placeholder="name" ng-bind="name" ng-model="name" class="input-large name-item"
               disabled>
        <input type="text" placeholder="birthday" ng-bind="birthday" ng-model="birthday"
               class="input-large birthday-item" disabled>
        <input type="text" placeholder="SSN" ng-bind="SSN" ng-model="SSN" class="input-large SSN-item"
               disabled>
        <input type="text" placeholder="status" ng-bind="status" ng-model="status" class="input-large status-item"
                disabled>
        <input type="text" placeholder="graduationDate" ng-bind="graduationDate" ng-model="graduationDate"
               class="input-large department-item"disabled>
        <input type="button" ng-click="submit($event)" class="btn  btn-success button-item" value="delete">
    </form>
</div>
<!--endRegistrar-->
<div class="content" id="endRegistrar" ng-controller="endRegistrar">
    <br>
    <h2>End Registrar</h2>
    <form>
        <input type="text" ng-model="id" required>
        <input type="password" ng-model="password" required>
        <input  ng-click="submit($event)" type="submit" class="btn btn-success" value="End Registrar">
    </form>
</div>
<!--viewReport-->
<div class="content" id="viewReport" ng-controller="viewReport">
    <br>
    <h2>View Report Card</h2>
    <br>
    <select class="choice1" ng-model="semester">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <input type="button" value="View Report" class="btn btn-success input1" ng-click="viewReport($event)">
    <table class="name-item">
        <tr class="course" ng-repeat="course in courses">
            <td>{{course.courseId}}</td>
            <td>{{course.name}}</td>
            <td>{{course.teacher}}</td>
        </tr>
    </table>
</div>

<!--addCourse-->
<div class="content" id="addCourse" ng-controller="addCourse">
    <br>
    <h2>Add Schedule</h2>
    <br>
    <input type="button" class="btn btn-info input1" value="View Schedule" ng-click="viewSchedule()">
    <div class="allCourse">
    <div><div>Id</div><div>course</div><div>day</div><div>begin</div><div>end</div><div>capacity</div></div>
        <div ng-repeat="course in allCourse">
            <div>{{course.id}}</div>
            <div>{{course.name}}</div>
            <div>{{course.day}}</div>
            <div>{{course.begin}}</div>
            <div>{{course.end}}</div>
            <div>{{course.capacity}}</div>
            <input type="button" ng-click="addCourse(course.id,$event)" value="add">
        </div>
    </div>

    <div class="selectedCourse">
     <div><div>Id</div><div>course</div><div>day</div><div>begin</div><div>end</div><div>capacity</div></div>
        <div ng-repeat="course in selectedCourse">
            <div>{{course.id}}</div>
            <div>{{course.name}}</div>
            <div>{{course.day}}</div>
            <div>{{course.begin}}</div>
            <div>{{course.end}}</div>
            <div>{{course.capacity}}</div>
        </div>
    </div>
</div>

<!--deleteCourse-->
<div class="content" id="deleteCourse" ng-controller="deleteCourse">
    <br>
    <h2>Delete Schedule</h2>
    <br>
    <input type="button" class="btn btn-info input1" value="View Schedule" ng-click="viewSchedule()">
    <br><br><br>
    <div class="allCourse">
    <div><div>Id</div><div>course</div><div>day</div><div>begin</div><div>end</div><div>capacity</div></div>
        <div ng-repeat="course in selectedCourse">
            <div>{{course.id}}</div>
            <div>{{course.name}}</div>
            <div>{{course.day}}</div>
            <div>{{course.begin}}</div>
            <div>{{course.end}}</div>
            <div>{{course.capacity}}</div>
            <input type="button" value="delete" ng-click="deleteCourse(course.id,$event)">
        </div>
    </div>
</div>

<!--selectTeach-->
<div class="content" id="selectTeach" ng-controller="selectTeach">
    <br>
    <h2>Select Teach</h2>
    <input type="button" class="btn btn-info input4" value="View Schedule" ng-click="viewCourse()">
    <br><br><br><br><br>
    <h3>all courses</h3>
    <div>
        <div ng-repeat="course in allCourse" class="taughtCourse">
            <input type="text" ng-bind="course.id" ng-model="course.id" disabled>
            <input type="text" ng-bind="course.name" ng-model="course.name" disabled>
            <input type="number" name="day" placeholder="day" required>
            <input type="number" name="begin" placeholder="begin" required>
            <input type="number" name="end" placeholder="end" required>
            <input type="number" name="capacity" placeholder="capacity" required>
            <input type="button" class="btn-info" ng-click="addCourse(course,$event)" value="add">
        </div>
    </div>

    <br><br><br>
    <h3>selected courses</h3>
    <div ng-repeat="course in taughtCourse"  class="taughtCourse">
        <input type="text" ng-bind="course.id" ng-model="course.id" disabled>
        <input type="text" ng-bind="course.name" ng-model="course.name" disabled>
        <input type="text" ng-bind="course.day" ng-model="course.day" disabled>
        <input type="text" ng-bind="course.begin" ng-model="course.begin" disabled>
        <input type="text" ng-bind="course.end" ng-model="course.end" disabled>
        <input type="text" ng-bind="course.capacity" ng-model="course.capacity" disabled>
    </div>
</div>

<!--submitGrade-->
<div class="content" id="submitGrade" ng-controller="submitGrade">
    <br>
    <h2>Submit Grade</h2>
    <br>
    <input type="button" class="btn btn-info input3" value="taught courses" ng-click="taughtCourse()">
    <select class="input4" ng-change="selectCourse(courseId)" ng-model="courseId"
            ng-options="course.id as course.name for course in taughtCourses"></select>
    <input type="button" class="btn btn-success input5" value="submit grade" ng-click="submitGrade()">
    <br><br><br>
    <div ng-repeat="student in studentGrade">
        <input type="number" ng-bind="student.id" ng-model="student.id" disabled>
        <input type="text" ng-bind="student.name" ng-model="student.name" disabled>
        <input type="text" ng-bind="student.grade" ng-model="student.grade" required>
    </div>
</div>

<!--time-->
<div class="time"></div>


<!--inform-->
<div ng-controller="inform">
<div class="inform" >
    <img ng-click="getInform($event)" src="./images/info.jpg" width="30px" height="10px" alt="info">
</div>
<div class="informContent">
    <div ng-repeat="content in contents">
        <h3>{{content.title}}</h3>
        <p>{{content.content}}</p>
    </div>
</div>
</div>


<script src="./js/software.js"></script>
<script src="./js/TweenLite.min.js"></script>
<script src="./js/EasePack.min.js"></script>
<script src="./js/rAF.js"></script>
<script src="./js/dynamic.js"></script>
</body>
</html>
